<section class="flow">
  <div class="flow-content">
    <aside class="content-arrow arrow-left"></aside>
    <div class="content-detail">
      <h2 class="detail-title">借条大师借款流程</h2>
      <div class="detail-group">
        <img class="group-board" src="">
        <div class="group-message">
          <h3 class="message-title">注册及认证</h3>
          <p class="message-content">下载借条大师APP</p>
          <p class="message-content">注册并完成必填信息认证</p>
        </div>
      </div>
    </div>
    <aside class="content-arrow arrow-right"></aside>
  </div>
</section>



