@import "../../../../../sass/_flex.scss";
.server-nav {
  width: 177px;
  height: 504px;
  border: {
    left: 1px solid #e2eaf3;
    right: 1px solid #e2eaf3;
    top: 1px solid #e2eaf3;
  }
  .nav-list {
    width: 100%;
    height: 100%;
    .list-item {
      $param: (flex flex) (alignItems center);
      @include flexSet($param);
      width: 100%;
      height: 42px;
      background-color: #fff;
      padding: {
        left: 23px;
      }
      border: {
        bottom: 1px solid #e7edf4;
      }
      font-size: 13px;
      color: #333333;
    }
    .list-item:hover {
      background-color: #e7edf4;
      color: #2577e4;
    }
  }
}