<header class="header">
  <div class="header-content">
    <img class="header-logo" src="../../assets/images/home/logo.png">
    <ul class="header-nav">
      <li class="nav-item" routerLink="home" routerLinkActive="active">首页</li>
      <li class="nav-item" routerLink="down-load" routerLinkActive="active">下载</li>
      <li class="nav-item" routerLink="product-server" routerLinkActive="active">产品与服务</li>
      <li class="nav-item" routerLink="about-us" routerLinkActive="active">关于我们</li>
      <!-- <li class="nav-item">首页</li>
      <li class="nav-item">下载</li>
      <li class="nav-item">产品与服务</li>
      <li class="nav-item">关于我们</li> -->
    </ul>
  </div>
</header>