<section class="tail">
  <div class="tail-contact">
    <ul class="contact-list">
      <li class="contact-item">
        <img class="item-sign" src="../../assets/images/common/call.png">
        <div class="item-message-group">
          <p class="message-title">400-0788-866</p>
          <p class="message-content">周一至周日 09:00-21:00</p>
        </div>
      </li>
      <li class="contact-item">
        <img class="item-sign" src="../../assets/images/common/down-load.png">
        <div class="item-message-group">
          <p class="message-title">立即扫码</p>
          <p class="message-content">下载就可借钱</p>
          <div class="QR-wrap">
            <img src="../../assets/images/common/loadQR.png">
          </div>
        </div>
      </li>
      <li class="contact-item">
        <img class="item-sign" src="../../assets/images/common/waiter.png">
        <p class="item-message">QQ:65468465</p>
      </li>
    </ul>
    <div class="contact-client">
      <img src="../../assets/images/common/logo-tail.png">
      <a href="">
        <button class="client-download-btn">
          <i class="iconfont icon-waiter"></i>
          <span>客服系统下载</span>
        </button>
      </a>
    </div>
  </div>
  <div class="tail-record">
    <p>
      <span>2018-2028 版权所有 借条大师</span>
      <span>皖ICP备 14068627 号</span>
    </p>
    <p>
      <span>安徽红嘴欧网络技术有限公司</span>
      <span>地址：安徽省安庆市大观区蔡山路151-43号</span>
    </p>
  </div>
</section>