@import "../../../sass/_flex.scss";
.tail {
  width: 100%;
  height: 270px;
  background-color: #131518;
  $param: (flex flex) (direction column) (justifyContent space-around) (alignItems center);
  @include flexSet($param);
  &-contact {
    width: 1100px;
    height: 186px;
    $param: (flex flex) (alignItems center) (justifyContent space-between);
    @include flexSet($param);
    .contact-list {
      width: 850px;
      height: 100%;
      $param: (flex flex) (alignItems center) (justifyContent space-between);
      @include flexSet($param);
      .contact-item {
        width: auto;
        height: 57px;
        $param: (flex flex) (alignItems center) (justifyContent space-between);
        @include flexSet($param);
        .item-sign {
          width: 57px;
          height: 57px;
          margin-right: 18px;
        }
        .item-message-group {
          $param: (flex flex) (direction column) (justifyContent space-between);
          @include flexSet($param);
          color: #7d8086;
          position: relative;
          .message-title {
            font-size: 30px;
          }
          .message-content {
            font-size: 16px;
          }
          .message-content:hover~.QR-wrap {
            display: block;
          }
          .QR-wrap {
            display: none;
            width: 88px;
            height: 88px;
            position: absolute;
            z-index: 99;
            left: 50%;
            top: -52px;
            margin: {
              left: -44px;
            }
            img {
              width: 100%;
              height: 100%;
            }
          }
          .QR-wrap::after {
            content: "";
            display: block;
            position: absolute;
            border: {
              left: 8px solid transparent;
              right: 8px solid transparent;
              top: 8px solid #fff;
            }
            bottom: -8px;
            left: 50%;
            margin: {
              left: -8px;
            }
          }
        }
        .item-message {
          font-size: 30px;
          color: #7d8086;
        }
      }
    }
    .contact-client {
      width: 164px;
      height: 100%;
      padding: {
        top: 59px;
        bottom: 30px;
      }
      $param: (flex flex) (direction column) (alignItems center) (justifyContent space-between);
      @include flexSet($param);
      img {
        width: 100%;
        height: 57px;
      }
      .client-download-btn {
        $param: (flex flex) (alignItems center) (justifyContent center);
        @include flexSet($param);
        width: 154px;
        height: 32px;
        user-select: none;
        background-color: #383b41;
        border-radius: 3px;
        color: #9fa0a0;
        font-size: 16px;

        i{
          font-size: 20px;
          padding: {
            right: 5px;
          }
        }
      }
    }
  }
  &-record {
    width: 1100px;
    height: 270px - 186px;
    $param: (flex flex) (direction column) (justifyContent space-around) (alignItems center);
    @include flexSet($param);
    border: {
      top: 1px solid #2a3244;
    }
    padding: {
      top: 15px;
      bottom: 15px;
    }
    p {
      font-size: 13px;
      color: #7d8086;
      span:first-of-type {
        margin-right: 15px;
      }
    }
  }
}
