<!-- 网站公告 -->
<article class="article">
  <ul class="article-list">
    <li class="list-item" *ngFor="let notice of notices">
      <img class="item-illustration" src="{{notice.image}}">
      <div class="item-detail">
        <div class="detail-header">
          <h4 class="detail-title">“{{notice.title}}”</h4>
          <span class="detail-date">{{notice.date | date: "yyyy-MM-dd"}}</span>
        </div>
        <div class="detail-content">
          <p>{{notice.description}}</p>
        </div>
        <div class="detail-more">
          <a href="{{notice.link}}">查看详情>></a>
        </div>
      </div>
    </li>
  </ul>
  <div class="article-pagination">
    <ul class="pagination-btn-group">
      <li class="btn-item" *ngIf="page.start" (click)="selectPage(page.start)">
        <span>首页</span>
      </li>
      <li class="btn-item" *ngIf="page.previous" (click)="selectPage(page.previous)">
        <span>上一页</span>
      </li>
      <li class="btn-item" *ngIf="page.current">
        <span>{{page.current}}</span>
      </li>
      <li class="btn-item" *ngIf="page.next" (click)="selectPage(page.next)">
        <span>下一页</span>
      </li>
      <li class="btn-item" *ngIf="page.end" (click)="selectPage(page.end)">
        <span>尾页</span>
      </li>
    </ul>
  </div>
</article>
