<!-- 常见问题 -->
<article class="article">
  <ul class="article-list">
    <li class="list-item" *ngFor="let consultation of consultations">
      <div class="item-question" (click)="toggleShowAnswers(consultation.flag)">
        <span class="question-sign">·</span>
        <span>{{consultation.question}}</span>
      </div>
      <div class="item-answer" *ngIf="consultation.show">
        <div class="answer-group" *ngFor="let answer of consultation.answers">
          <p class="group-title" *ngIf="answer.title">
            <span class="title-sign">|</span>
            <b>{{answer.title}}</b>
          </p>
          <p class="group-content">{{answer.content}}</p>
        </div>
      </div>
    </li>
  </ul>
</article>
