<!-- s 四种特性 -->
<section class="characteristic">
  <div class="characteristic-content">
    <ul class="content-list">
      <li class="list-item">
        <img class="item-sign" src="">
        <div class="item-content">
          <p class="item-features">易申请·到账快</p>
          <p class="item-message">手机借款无需面审</p>
          <p class="item-message">身份证加手机号即可申请</p>
        </div>
      </li>
      <li class="list-item">
        <img class="item-sign" src="">
        <div class="item-content">
          <p class="item-features">用户多·额度高</p>
          <p class="item-message">额度可达5万元</p>
          <p class="item-message">最快1分钟放款</p>
        </div>
      </li>
      <li class="list-item">
        <img class="item-sign" src="">
        <div class="item-content">
          <p class="item-features">严风控·超放心</p>
          <p class="item-message">提供线上风控方案</p>
          <p class="item-message">给予信用评级与授信建议</p>
        </div>
      </li>
      <li class="list-item">
        <img class="item-sign" src="">
        <div class="item-content">
          <p class="item-features">防护强·更安全</p>
          <p class="item-message">数据交互多种加密</p>
          <p class="item-message">全方位保障信息安全</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- e 四种特性 -->