@import "../../../sass/_flex.scss";
.about-us {
  $param: (flex flex) (justifyContent center);
  @include flexSet($param);
  width: 100%;
  min-height: 950px;
  position: relative;
  padding: {
    top: 55px;
    bottom: 81px;
  }
  background-color: #f1f2f3;

  &-content {
    width: 1100px;
    $param: (flex flex) (justifyContent space-between);
    @include flexSet($param);

    .content-nav {
      width: 170px;
      height: 420px;
      background-color: #fff;
    }

    .content-detail {
      width: 910px;
      height: auto;
    }
  }
}
