<section class="introduction">
  <div class="introduction-content">
    <h3 class="topic-title">
      <span class="title-symbol">{{ '{' }}</span>
      <span class="title-message">产品介绍</span>
      <span class="title-symbol">{{ '}' }}</span>
    </h3>
    <div class="introduction-detail">
      <img class="detail-banner">
      <ul class="detail-content">
        <li class="content-item">
          <h4 class="item-title">
            <span class="title-sign">·</span>
            <span>借条大师项目介绍</span>
          </h4>
          <p class="item-message">借条大师（IOU—master）采用新兴电子借条的形式进行金融信用借款服务。电子借条：借条，是表明债权债务关系的书面凭证，是指借个人或公家的现金或物品时写给对方的条子，就是借条。而电子借条，则是书面形式里的数据电文，关系双方通过电子数据的收发就可以完成电子合同的订立，这是区别于传统合同的最关键特征。</p>
        </li>
        <li class="content-item">
          <h4 class="item-title">
            <span class="title-sign">·</span>
            <span>借条大师-带有社交色彩的电子借条管理平台</span>
          </h4>
          <p class="item-message">特色性的社交功能，增加了放款人与借款人之间的及时沟通，电子商务在中国是阿里巴巴做的最好，社交不用讲大家都知道是腾讯，而大家最认可和熟知的就是微信，微信是大家熟悉的不能再熟悉的聊天工具，我们的首页借鉴了微信的首页，好友聊天页面，为什么做这样一个毫无创意的页面呢，为了就是客户的体验度，这样的一个页面客户根本无需去熟悉，老客户打开APP点开放款人页面，直截了当的打字或者语音：老铁，紧急情况借个一千！这样的一个场景是不是客户最能认可的？</p>
        </li>
      </ul>
    </div>
  </div>
</section>