<article class="article">
  <ul class="article-digest">
    <li class="digest-list">
      <p>你需要知道的，跟我们一起闯：</p>
      <p>相信:相信自己能做出不一样的事情，去影响甚至改变这个将就的世界。</p>
      <p>热爱:把事情做好，不仅仅是依照某种规范，而是发自内心的热爱。</p>
      <p>开放:尊重差异，保持学习拥抱变化，鼓励每个人和公司共同成长。</p>
      <p>不将就:不相信定论，不妥协于现状。将寻常事，做到不同寻常。</p>
      <p>借条大师吸引你的，或许不只是多元化的团队，扁平的管理，开放的氛围和广阔的前景......</p>
      <p>如果你也认同这些信仰，那就来吧，一起谱写新的故事</p>
      <p>
        <span>如有意向请发送您的简历至HR邮箱：</span>
        <span class="digest-email">2885250965@qq.com</span>
      </p>
    </li>
  </ul>
  <ul class="article-list">
    <li class="list-item" *ngFor="let job of jobs">
      <h3 class="item-job" (click)="toggleShowDetail(job.flag)" [class.active]="job.show">
        <p>
          <span>{{job.name}}</span>
          <span class="job-city" *ngIf="job.city">({{job.city}})</span>
        </p>
        <i class="job-arrow iconfont icon-arrow-down" [class.icon-arrow-down]="!job.show" [class.icon-arrow-up]="job.show"></i>
      </h3>
      <div class="item-detail" *ngIf="job.show">
        <ul class="detail-introduction">
          <li class="introduction-item">
            <span>职位类别：</span>
            <span>{{job.type}}</span>
          </li>
          <li class="introduction-item">
            <span>工作城市：</span>
            <span>{{job.city}}</span>
          </li>
          <li class="introduction-item">
            <span>发布时间：</span>
            <span>{{job.date | date: 'yyyy-MM-dd'}}</span>
          </li>
        </ul>
        <ul class="detail-content">
          <div class="detail-content-group" *ngFor="let content of job.contents">
            <h4 class="group-title">{{content.title}}</h4>
            <p class="group-message" *ngFor="let message of content.messages">{{message}}</p>
          </div>
        </ul>
      </div>
    </li>
  </ul>
</article>