<article class="article">
  <ul class="article-digest">
    <li class="digest-list">
      <p>你需要知道的，跟我们一起闯：</p>
      <p>相信:相信自己能做出不一样的事情，去影响甚至改变这个将就的世界。</p>
      <p>热爱:把事情做好，不仅仅是依照某种规范，而是发自内心的热爱。</p>
      <p>开放:尊重差异，保持学习拥抱变化，鼓励每个人和公司共同成长。</p>
      <p>不将就:不相信定论，不妥协于现状。将寻常事，做到不同寻常。</p>
      <p>借条大师吸引你的，或许不只是多元化的团队，扁平的管理，开放的氛围和广阔的前景......</p>
      <p>如果你也认同这些信仰，那就来吧，一起谱写新的故事</p>
      <p>
        <span>如有意向请发送您的简历至HR邮箱：</span>
        <span class="digest-email">2885250965@qq.com</span>
      </p>
    </li>
  </ul>
  <ul class="article-list">
    <li class="list-item">
      <h3 class="item-job">PHP高级开发工程师 （合肥）</h3>
      <div class="item-detail hide">
        <div class="detail-introduction">职位类别： 互联网类 工作城市： 合肥市 发布时间： 2018-03-16</div>
        <div class="detail-content">
          <div class="detail-content-group">
            <h4 class="group-title">工作职责</h4>
            <p class="group-message">1、负责借条大师APP及网站后台服务的设计和研发；</p>
            <p class="group-message">2、负责相关后台系统的监控和分析；</p>
            <p class="group-message">3、持续优化系统架构，保障系统稳定可靠运行。</p>
          </div>
          <div class="detail-content-group">
            <h4 class="group-title">任职要求</h4>
            <p class="group-message">1、计算机或相关专业本科或以上学历；</p>
            <p class="group-message">2、两年以上PHP开发经验，熟练使用至少一种MVC的PHP框架，能够独立编写中等规模Web应用程序；</p>
            <p class="group-message">3、对HTTP协议和W3C规范有较好的理解，掌握Web Service的开发与应用，对 XHTML、CSS、JavaScript等页面技术有一定了解；</p>
            <p class="group-message">4、熟练掌握MySQL数据库应用开发，熟悉MySQL的数据库配置管理、性能优化等操作技能；</p>
            <p class="group-message">5、对互联网产品的性能、高可用、安全性等相关知识有实践经验；</p>
            <p class="group-message">6、责任心强，良好的沟通和团队协作能力，主动好学有进取心。</p>
          </div>
        </div>
      </div>
    </li>
    <li class="list-item">
      <h3 class="item-job">风控主管</h3>
      <div class="item-detail hide">
        <div class="detail-introduction">职位类别： 互联网类 工作城市： 合肥市 发布时间： 2018-03-16</div>
        <div class="detail-content">
          <div class="detail-content-group">
            <h4 class="group-title">工作职责</h4>
            <p class="group-message">1、负责借条大师APP及网站后台服务的设计和研发；</p>
            <p class="group-message">2、负责相关后台系统的监控和分析；</p>
            <p class="group-message">3、持续优化系统架构，保障系统稳定可靠运行。</p>
          </div>
          <div class="detail-content-group">
            <h4 class="group-title">任职要求</h4>
            <p class="group-message">1、计算机或相关专业本科或以上学历；</p>
            <p class="group-message">2、两年以上PHP开发经验，熟练使用至少一种MVC的PHP框架，能够独立编写中等规模Web应用程序；</p>
            <p class="group-message">3、对HTTP协议和W3C规范有较好的理解，掌握Web Service的开发与应用，对 XHTML、CSS、JavaScript等页面技术有一定了解；</p>
            <p class="group-message">4、熟练掌握MySQL数据库应用开发，熟悉MySQL的数据库配置管理、性能优化等操作技能；</p>
            <p class="group-message">5、对互联网产品的性能、高可用、安全性等相关知识有实践经验；</p>
            <p class="group-message">6、责任心强，良好的沟通和团队协作能力，主动好学有进取心。</p>
          </div>
        </div>
      </div>
    </li>
    <li class="list-item">
      <h3 class="item-job">运营专员</h3>
      <div class="item-detail hide">
        <div class="detail-introduction">职位类别： 互联网类 工作城市： 合肥市 发布时间： 2018-03-16</div>
        <div class="detail-content">
          <div class="detail-content-group">
            <h4 class="group-title">工作职责</h4>
            <p class="group-message">1、负责借条大师APP及网站后台服务的设计和研发；</p>
            <p class="group-message">2、负责相关后台系统的监控和分析；</p>
            <p class="group-message">3、持续优化系统架构，保障系统稳定可靠运行。</p>
          </div>
          <div class="detail-content-group">
            <h4 class="group-title">任职要求</h4>
            <p class="group-message">1、计算机或相关专业本科或以上学历；</p>
            <p class="group-message">2、两年以上PHP开发经验，熟练使用至少一种MVC的PHP框架，能够独立编写中等规模Web应用程序；</p>
            <p class="group-message">3、对HTTP协议和W3C规范有较好的理解，掌握Web Service的开发与应用，对 XHTML、CSS、JavaScript等页面技术有一定了解；</p>
            <p class="group-message">4、熟练掌握MySQL数据库应用开发，熟悉MySQL的数据库配置管理、性能优化等操作技能；</p>
            <p class="group-message">5、对互联网产品的性能、高可用、安全性等相关知识有实践经验；</p>
            <p class="group-message">6、责任心强，良好的沟通和团队协作能力，主动好学有进取心。</p>
          </div>
        </div>
      </div>
    </li>
    <li class="list-item">
      <h3 class="item-job">市场业务专员</h3>
      <div class="item-detail hide">
        <div class="detail-introduction">职位类别： 互联网类 工作城市： 合肥市 发布时间： 2018-03-16</div>
        <div class="detail-content">
          <div class="detail-content-group">
            <h4 class="group-title">工作职责</h4>
            <p class="group-message">1、负责借条大师APP及网站后台服务的设计和研发；</p>
            <p class="group-message">2、负责相关后台系统的监控和分析；</p>
            <p class="group-message">3、持续优化系统架构，保障系统稳定可靠运行。</p>
          </div>
          <div class="detail-content-group">
            <h4 class="group-title">任职要求</h4>
            <p class="group-message">1、计算机或相关专业本科或以上学历；</p>
            <p class="group-message">2、两年以上PHP开发经验，熟练使用至少一种MVC的PHP框架，能够独立编写中等规模Web应用程序；</p>
            <p class="group-message">3、对HTTP协议和W3C规范有较好的理解，掌握Web Service的开发与应用，对 XHTML、CSS、JavaScript等页面技术有一定了解；</p>
            <p class="group-message">4、熟练掌握MySQL数据库应用开发，熟悉MySQL的数据库配置管理、性能优化等操作技能；</p>
            <p class="group-message">5、对互联网产品的性能、高可用、安全性等相关知识有实践经验；</p>
            <p class="group-message">6、责任心强，良好的沟通和团队协作能力，主动好学有进取心。</p>
          </div>
        </div>
      </div>
    </li>
    <li class="list-item">
      <h3 class="item-job">客服代表 （安庆）</h3>
      <div class="item-detail hide">
        <div class="detail-introduction">职位类别： 互联网类 工作城市： 合肥市 发布时间： 2018-03-16</div>
        <div class="detail-content">
          <div class="detail-content-group">
            <h4 class="group-title">工作职责</h4>
            <p class="group-message">1、负责借条大师APP及网站后台服务的设计和研发；</p>
            <p class="group-message">2、负责相关后台系统的监控和分析；</p>
            <p class="group-message">3、持续优化系统架构，保障系统稳定可靠运行。</p>
          </div>
          <div class="detail-content-group">
            <h4 class="group-title">任职要求</h4>
            <p class="group-message">1、计算机或相关专业本科或以上学历；</p>
            <p class="group-message">2、两年以上PHP开发经验，熟练使用至少一种MVC的PHP框架，能够独立编写中等规模Web应用程序；</p>
            <p class="group-message">3、对HTTP协议和W3C规范有较好的理解，掌握Web Service的开发与应用，对 XHTML、CSS、JavaScript等页面技术有一定了解；</p>
            <p class="group-message">4、熟练掌握MySQL数据库应用开发，熟悉MySQL的数据库配置管理、性能优化等操作技能；</p>
            <p class="group-message">5、对互联网产品的性能、高可用、安全性等相关知识有实践经验；</p>
            <p class="group-message">6、责任心强，良好的沟通和团队协作能力，主动好学有进取心。</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</article>