<!-- 联系我们 -->
<article class="article">
  <ul class="article-list">
    <li class="list-item">
      <h3 class="item-title">
        <div class="title-sign"></div>
        <b>联系我们</b>
      </h3>
      <div class="item-content">
        <div class="content-detail">
          <p>万分感谢阁下用宝贵的时间访问我们的网站,如果有什么需要我们为您效劳的,请按下面的联系方式联系我们,我们会在第一时间回复,谢谢!</p>
        </div>
      </div>
    </li>
    <li class="list-item">
      <h3 class="item-title">
        <div class="title-sign"></div>
        <b>安徽红嘴欧网络技术有限公司</b>
      </h3>
      <div class="item-content">
        <div class="content-detail">
          <p>合肥市:合肥高新区创新产业园二期G4号楼D区六楼</p>
          <p>安庆市:安徽省安庆市大观区蔡山路151-43号</p>
          <p>客服电话:400-0788-866</p>
        </div>
      </div>
    </li>
    <li class="list-item">
      <h3 class="item-title">
        <div class="title-sign"></div>
        <b>关于我们</b>
      </h3>
      <div class="item-content">
        <div class="content-detail">
          <p>
            <span>网址:</span>
            <a href="http://www.jietiaodashi.com">http://www.jietiaodashi.com</a>
          </p>
          <p>
            <span>微博:</span>
            <a href="http://jietiao/dashi-cn">http://jietiao/dashi-cn</a>
          </p>
          <div class="QR-wrap">
            <span>微信二维码:</span>
            <img class="QR-wechat" src="">
          </div>
        </div>      
      </div>
    </li>
  </ul>
  <div class="article-map">
    <img src="">
  </div>
</article>
