@import "../../../../sass/_flex.scss";
.article {
  width: 100%;
  background-color: #fff;
  padding: {
    left: 30px;
    right: 30px;
    top: 35px;
    bottom: 30px;
  }
  &-list {
    width: 100%;
    .list-item {
      width: 100%;
      padding: {
        bottom: 20px;
      }
      .item-title {
        $param: (flex flex) (alignItems center);
        @include flexSet($param);
        width: 100%;
        height: 40px;
        font-size: 18px;
        color: #2577e4;
        .title-sign {
          width: 8px;
          height: 8px;
          background: {
            color: #2577e4;
          }
          margin: {
            right: 11px;
          }
        }
      }
      .item-content {
        width: 100%;
        height: auto;
        padding: {
          left: 3px;
        }
        .content-detail {
          $param: (flex flex) (direction column) (justifyContent space-around);
          @include flexSet($param);
          width: 100%;
          padding: {
            left: 8px;
          }
          border: {
            left: 1px solid #2577e4;
          }
          font-size: 14px;
          color: #656565;
          p a {
            color: #2577e4;
          }
          .QR-wrap {
            $param: (flex flex) (alignItems center);
            @include flexSet($param);
            width: 100%;
            height: 88px;

            .QR-wechat {
              width: 88px;
              height: 88px;
              margin: {
                left: 15px;
              }
            }
          }
        }
      }
    }
    .list-item:first-of-type {
      .content-detail {
        height: 40px;
      }
    }
    .list-item:nth-of-type(2) {
      .content-detail {
        height: 85px;
      }
    }
    .list-item:last-of-type {
      .content-detail {
        height: 170px;
      }
    }
  }
  &-map {
    width: 850px;
    height: 438px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
