<!-- 公司简介 -->
<article class="article">
  <h2 class="article-title">公司简介</h2>
  <div class="article-content">
    <img class="article-image" src="">
    <p>安徽红嘴欧网络技术有限公司&nbsp;——&nbsp;一家扎根于皖江大地的金融科技平台，公司成立于2015年。是一家具备优秀的自主研发能力的金融创新型企业。我们旨在为中国优质城市白领人群提供高效、便捷、个性化的信用借款咨询服务；通过公司旗下自主研发的各个金融平台为大众人群提供安全、专业的金融服务；同时，通过为融资方高效解决资金需求，以科技驱动金融创新，公司成立至今两年，旗下的金融平台已经拥有完整的产品、研发、风控、财务、行政以及客服等职能体系，通过业务孵化和产业投资参与金融科技创新。成立以来，始终坚持以理念创新、模式创新和技术创新服务大众，真正的让金融更美好。</p>
    <p>借条大师（IOU—master）采用新兴电子借条的形式进行金融信用借款服务，是一款随手可用的电子借条手机应用。是国内正规专业有安全保障系统认证，提供超一流的互联网金融信息服务。数据云端共享，信息全方位覆盖，实现安全便捷高效服务，人性化借款团队，借款放款就用借条大师，借条大师是出借人和借款人的最佳选择！</p>
    <p>我们的核心价值观：忠诚、守信、宽容</p>
    <p>我们的发展理念：让每个用户想用借条的时候都想到“借条大师”，借条大师会成为你最安全可靠的朋友，保证你的借条规范合规没有法律歧义，“友情催款”保护您的颜面，“专业催收”和“法律支援诉讼”保护您的权益！让理财用户实现真正的稳定收益！</p>
    <p>借条大师——国内正规专业有安全保障系统认证，提供超一流的互联网金融信息服务。数据云端共享，信息全方位覆盖，实现安全便捷高效服务，人性化借款团队，借款放款就用借条大师，借条大师是出借人和借款人的最佳选择！</p>
    <p>企业理念：诚实和勤勉应该成为你永久的伴侣！</p>
    <p>企业愿景：成为您身边信用伙伴！</p>
    <p>
      <span class="article-emphasis">郑重声明：</span>
      <span>我们不向学生提供贷款！</span>
    </p>
  </div>
</article>