<!-- s 网站公告 -->
<h2 class="article-title">"用小孩信息来催收,欠债者都会还钱"</h2>
<span class="article-date">2017-02-25</span>
<div class="article-content">
  <p>上述案例是北京景运律师事务所主任李红艳所遇到案例中的一个。 "孩子基本上都是大人的软肋也是催收最有效的手段之一，一般情况下，只要催收机构报出小孩的信息,欠债者都会赶紧还钱。" 李红艳说。</p>
  <img class="article-image" src="">
  <h4>催收乱象频发</h4>
  <p>可催收公司是如何获得刘某周围多人的通讯方式的呢？李红燕说,除了刘某借款时填写的联系人号码外，其他人的通讯信息来源多设计非法获取公民个人信息的问题。"从事灰色催收,要是没这两把刷子,很多人都没法在这个行业干下去。"李红燕说。</p>
  <p>李红艳所在的律所，曾经承接过一些担保机构、小额机构的催收业务，不过主要从事一些诉讼业务，即通过法院判决确认债权，后续进入法院执行环节如果法院 执行部门接入，仍未实现债权，name这些担保、小额机构变回委托社会中介机构实施催收。</p>
  <p>对于一些社会中介机构的催收乱象，李红艳不仅多有耳闻，也曾办理过相应的案件。在他看来，"呼死你"、非法获取借款人周围亲友信息,实施狂轰滥炸,已经严重侵犯了 公民的权益；而一些发生于民间"地下钱庄"等非正规金融领域的暴力催收行为,则更让人胆战心惊，一旦不能按时还款，遭遇的可能就不仅仅是"呼死你"这种量级的催收，"裸条"、以及今年4月震惊全国的刺杀辱母者案,即是例证。</p>
  <p>根据银监会发布的最新数据,截至2017年一季季末,商业银行不良贷款余额1.58万亿元。另据麦肯锡7月13日发布的报告，如果目前商业银行不良率态势继续的话， 到2020年，不良资产规模将可能达到4.8万亿元。</p>
  <p>面对万亿的市场规模,一些社会资本也通过注册催收公司、搭建催收平台，试图分的一杯羹。据i不完全统计，目前我国从事第三方债务催收的法人单位数量已有2000 到3000家。一些非法暴力催收行为，不仅让一些合法合规的催收机构无端承受了社会的压力,也让整个催收行业饱受污名。如何规范很多游走再法律灰色地带的催收机构,也颇为社会关注。</p>
  <p>中国政法大学财税金融法研究所所长、中国银行法学会副会长刘少军认为，相对而言，银行等整个金融的催收业务更为规范，这些机构多通过招标竞标 的方式，选择与律所等正规催收公司合作，对催收人员管理较为规范。而这与监管部门的严格监管不无关系。2011年初，中国银监会出台了《商业银行信用卡业务监督管理办法》,明确要求发卡银行应当简历信用卡欠款催收管理制度,规范。</p>
</div>