<!-- s 成功申请借款记录 -->
<section class="rank">
  <img class="bg-cover" src="../../../assets/images/home/rank-banner.png">
  <div class="rank-content">
    <div class="content-detail">
      <p class="topic-title">
        <span class="title-message">成功申请借款记录</span>
      </p>
      <div class="detail-content">
        <ul class="detail-list">
          <li class="list-item">
            <p>余先生</p>
            <p>180****1009</p>
            <p>
              <span>成功借款</span>
              <span class="item-money">1000</span>
              <span>元</span>
            </p>
          </li>
          <li class="list-item">
            <p>张先生</p>
            <p>132****2513</p>
            <p>
              <span>成功借款</span>
              <span class="item-money">2300</span>
              <span>元</span>
            </p>
          </li>
          <li class="list-item">
            <p>赵先生</p>
            <p>159****7951</p>
            <p>
              <span>成功借款</span>
              <span class="item-money">1900</span>
              <span>元</span>
            </p>
          </li>
          <li class="list-item">
            <p>孙先生</p>
            <p>131****2589</p>
            <p>
              <span>成功借款</span>
              <span class="item-money">1500</span>
              <span>元</span>
            </p>
          </li>
          <li class="list-item">
            <p>李先生</p>
            <p>131****1123</p>
            <p>
              <span>成功借款</span>
              <span class="item-money">1100</span>
              <span>元</span>
            </p>
          </li>
          <li class="list-item">
            <p>吴先生</p>
            <p>150****8315</p>
            <p>
              <span>成功借款</span>
              <span class="item-money">800</span>
              <span>元</span>
            </p>
          </li>
          <li class="list-item">
            <p>王先生</p>
            <p>135****1192</p>
            <p>
              <span>成功借款</span>
              <span class="item-money">1800</span>
              <span>元</span>
            </p>
          </li>
          <li class="list-item">
            <p>石先生</p>
            <p>181****1284</p>
            <p>
              <span>成功借款</span>
              <span class="item-money">2000</span>
              <span>元</span>
            </p>
          </li>
        </ul>
        <img class="detail-sign" src="../../../assets/images/home/record.png">
      </div>
    </div>
    <img class="content-banner" src="../../../assets/images/home/board-4.png">
  </div>
</section>
<!-- e 成功申请借款记录 -->
