<section class="rank">
  <img class="bg-cover" src="">
  <div class="rank-content">
    <p class="topic-title">
      <span class="title-message">成功申请借款记录</span>
    </p>
    <div class="content-detail">
      <ul class="detail-list">
        <li class="list-item">
          <p>余先生</p>
          <p>180****1009</p>
          <p>
            <span>成功借款</span>
            <span class="item-money">1000</span>
            <span>元</span>
          </p>
        </li>
        <li class="list-item">
          <p>余先生</p>
          <p>180****1009</p>
          <p>
            <span>成功借款</span>
            <span class="item-money">1000</span>
            <span>元</span>
          </p>
        </li>
        <li class="list-item">
          <p>余先生</p>
          <p>180****1009</p>
          <p>
            <span>成功借款</span>
            <span class="item-money">1000</span>
            <span>元</span>
          </p>
        </li>
        <li class="list-item">
          <p>余先生</p>
          <p>180****1009</p>
          <p>
            <span>成功借款</span>
            <span class="item-money">1000</span>
            <span>元</span>
          </p>
        </li>
        <li class="list-item">
          <p>余先生</p>
          <p>180****1009</p>
          <p>
            <span>成功借款</span>
            <span class="item-money">1000</span>
            <span>元</span>
          </p>
        </li>
        <li class="list-item">
          <p>余先生</p>
          <p>180****1009</p>
          <p>
            <span>成功借款</span>
            <span class="item-money">1000</span>
            <span>元</span>
          </p>
        </li>
        <li class="list-item">
          <p>余先生</p>
          <p>180****1009</p>
          <p>
            <span>成功借款</span>
            <span class="item-money">1000</span>
            <span>元</span>
          </p>
        </li>
        <li class="list-item">
          <p>余先生</p>
          <p>180****1009</p>
          <p>
            <span>成功借款</span>
            <span class="item-money">1000</span>
            <span>元</span>
          </p>
        </li>
      </ul>
      <img class="detail-sign">
    </div>
  </div>
</section>
