@import "../../../../sass/_flex.scss";
.rank {
  width: 100%;
  height: 450px;
  position: relative;
  $param: (flex flex) (justifyContent center);
  @include flexSet($param);
  padding: {
    top: 30px;
    bottom: 45px;
  }

  .rank-content {
    width: 1100px;
    height: 100%;
    $param: (flex flex) (direction column) (justifyContent space-around);
    @include flexSet($param);

    .content-detail {
      width: 538px;
      height: 285px;
      background-color: rgba($color: #fff, $alpha: 0.2);
      padding: {
        left: 29px;
        right: 27px;
        top: 20px;
        bottom: 20px;
      }
      $param: (flex flex) (justifyContent space-between);
      @include flexSet($param);
      border: 1px solid #dee7f3;

      .detail-list {
        width: 360px;
        height: 245px;
        $param: (flex flex) (direction column) (justifyContent space-around);
        @include flexSet($param);

        .list-item {
          width: 100%;
          height: 30px;
          $param: (flex flex) (alignItems center) (justifyContent space-between);
          @include flexSet($param);

          p {
            font-size: 13px;
            color: #656565;

            .item-money {
              color: #319bf1;
            }
          }
          
        }
      }

      .detail-sign {
        width: 71px;
        height: 71px;
      }
    }
  }
}