<section class="feedback">
  <img class="bg-cover" src="">
  <div class="feedback-content">
    <div class="content-header">
      <h2 class="header-title">如果您想了解更多请在下方留言</h2>
      <p class="header-message">可致电：400-078-8866 或填写表单，我们会尽快与您联系</p>
    </div>
    <div class="content-form">
      <div class="input-group">
        <input class="input-control" type="text" placeholder="姓名（必填）">
        <input class="input-control" type="text" placeholder="电话（必填）">
        <input class="input-control" type="text" placeholder="所在行业">
        <input class="input-control" type="text" placeholder="公司名称">
      </div>
      <textarea class="textarea-control" placeholder="请在此输入留言内容（必填）"></textarea>
    </div>
    <div class="content-tail">
      <button class="tail-btn">提交</button>
    </div>
  </div>  
</section>