<!-- s 广告 -->
<section class="banner">
  <img class="bg-cover" src="../../../assets/images/home/banner.png">
  <div class="banner-content">
    <img class="content-banner" src="../../../assets/images/home/board-1.png">
    <div class="content-detail">
      <div class="detail-content">
        <img class="detail-title" src="../../../assets/images/home/slogen.png">
        <div class="btn-group">
          <div class="btn-item">
            <i></i>
            <span>iPhone版下载</span>
          </div>
          <div class="btn-item">
            <i></i>
            <span>Android版下载</span>
          </div>
        </div>
      </div>
      <img class="QR-code" src="../../../assets/images/home/loadQR.png">
    </div>
  </div>
</section>
<!-- e 广告 -->