<!-- s 广告 -->
<section class="banner">
  <img class="bg-cover" src="../../../assets/images/home/banner.png">
  <div class="banner-content">
    <img class="content-banner" src="../../../assets/images/home/board-1.png">
    <div class="content-detail">
      <div class="detail-content">
        <img class="detail-title" src="../../../assets/images/home/slogen.png">
        <div class="btn-group">
          <a target="_blank" href="https://itunes.apple.com/cn/app/%E8%AE%B0%E8%B4%A6%E5%80%9F%E6%9D%A1%E5%A4%A7%E5%B8%88/id1330304529">
            <div class="btn-item">
              <i class="iconfont icon-ios"></i>
              <span>iPhone版下载</span>
            </div>
          </a>
          <a target="_blank" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.c358093267.yfi">
            <div class="btn-item">
              <i class="iconfont icon-android"></i>
              <span>Android版下载</span>
            </div>
          </a>
        </div>
      </div>
      <img class="QR-code" src="../../../assets/images/common/loadQR.png">
    </div>
  </div>
</section>
<!-- e 广告 -->