@import "../../../../sass/_flex.scss";
.trait {
  $param: (flex flex) (justifyContent center);
  @include flexSet($param);
  width: 100%;
  height: 718px;
  background-color: #f2f7fc;
  &-content {
    $param: (flex flex) (direction column) (alignItems center) (justifyContent space-around);
    @include flexSet($param);
    width: 1100px;
    height: 100%;
    position: relative;
    padding: {
      top: 120px;
    }
    .content-title {
      font-size: 24px;
      color: #333333;
    }

    .content-board {
      width: 852px;
      height: 444px;
    }

    // .content-detail {
    //   width: 852px;
    //   height: 444px;
    //   $param: (flex flex) (alignItems center) (justifyContent space-between);
    //   @include flexSet($param);
    //   .detail-list {
    //     width: 300px;
    //     height: 100%;
    //     $param: (flex flex) (flexWrap wrap) (alignContent space-around) (justifyContent space-around);
    //     @include flexSet($param);
    //     .list-item {
    //       $param: (flex flex) (direction column) (alignItems center) (justifyContent space-around);
    //       @include flexSet($param);
    //       width: 125px;
    //       height: 125px;
    //       position: relative;
    //       border-radius: 3px;
    //       p {
    //         font-size: 14px;
    //         color: #666666;
    //       }
    //       background-color: #fff;
    //       .item-sign {
    //         font-size: 20px;
    //         position: absolute;
    //         top: -0.5em;
    //         right: -0.5em;
    //         color: green;
    //       }
    //     }
    //   }
    //   .detail-board {
    //     width: 202px;
    //     height: 414px;
    //   }
    // }
  }
}
