<section class="trait">
  <div class="trait-content">
    <p class="content-title">特色性的社交功能，增加了放款人与借款人之间的及时沟通。</p>
    <div class="content-detail">
      <ul class="detail-list">
        <li class="list-item">
          <i></i>
          <p>视频语音通话</p>
          <i class="item-sign"></i>
        </li>
        <li class="list-item">
          <i></i>
          <p>我要借款</p>
          <i class="item-sign"></i>
        </li>
        <li class="list-item">
          <i></i>
          <p>打欠条</p>
          <i class="item-sign"></i>
        </li>
        <li class="list-item">
          <i></i>
          <p>向好友转账</p>
          <i class="item-sign"></i>
        </li>
        <li class="list-item">
          <i></i>
          <p>信用报告</p>
          <i class="item-sign"></i>
        </li>
        <li class="list-item">
          <i></i>
          <p>个人名片</p>
          <i class="item-sign"></i>
        </li>
      </ul>
      <img class="detail-banner" src="">
    </div>
  </div>
</section>